.modal{
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    height: 97vh;
    width: 54vw;
    transform: scale(0.5);
    transition: 0.4s all;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__content.active {
    transform: scale(1);
}

.BookIMG {
    width: 385px;
    height: 654px;
}

.PageFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
}

.demoPage {
    margin: 10px;
}

.PageButton {
    margin: 20px;
}

.TitleH2 {
    text-align: center;
    width: 100%;
}

